{% if page.frontmatter.date %}
<div>
  <p>Date: {{ page.frontmatter.date }}</p>
</div>
{% endif %}

{% if page.frontmatter.lastmod %}
<div>
  <p>UpDate: {{ page.frontmatter.lastmod }}</p>
</div>
{% endif %}
