
<p>
Publish on {% if page.frontmatter.date %} {{ page.frontmatter.date | date("YYYY-MM-DD") }}  {% endif %} 
</p>

<p>
Last updated on {% if page.frontmatter.lastmod %} {{ page.frontmatter.lastmod | date("YYYY-MM-DD") }} {% endif %}
</p>

